*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bin
HelveticaNeue.ttf
HelveticaNeueUltraLight.ttf
*.html
libs/commons-lang3-3.1/apidocs

# Eclipse stuff #
.classpath
.project
.settings
